body {
    background: url('../images/background.jpg') rgba(0, 0, 0, 0.3);
    background-position: center;
    background-size: cover;
}

.navbar {
    padding-left: 25%;
}

.custom-text {
    color: chocolate;
    font-style: bold;
}
